@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-color: #3aa7a0;
}

input {
  min-width: 200px;
  min-height: 2.5rem;
  font-size: 0.9rem;
  border: 1px solid rgb(195, 195, 195);
  border-radius: 5px 0px 0px 5px;
  padding: 0px 10px;
}

input:hover,
.button-light:hover {
  border: 1px solid #f34c50;
}

input:focus {
  outline: 1px solid #f34c50;
}

button {
  min-width: 100px;
  min-height: 2.5rem;
  border-radius: 5px;
  font-size: 0.9rem;
  border: 1px solid #f7c9c0;
  color: white;
  background-color: #f34c50;
  cursor: pointer;
}

.button-dark {
  min-width: 120px;
  border: none;
}

.button-light {
  border: 1px solid #f7c9c0;
  background-color: white;
  border-radius: 0px 5px 5px 0px;
  color: #f34c50;
}

#home-wrapper {
  max-width: 500px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  animation: position 0.5s cubic-bezier();
}

#title {
  min-width: 600px;
  margin-bottom: 20px;
}

#home-input {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#create-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.input-button {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.input-wrapper {
  height: 100%;
  position: relative;
}

#validation-wrapper {
  position: absolute;
  right: 10px;
  top: 5px;
  bottom: 5px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#invalid-message {
  position: absolute;
  left: 5px;
  bottom: -18px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  width: 350px;
}

#create-form {
  position: absolute;
  width: 600px;
  height: 360px;
  background-color: #f7c9c0;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(63, 63, 63, 0.387);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#room-code {
  font-family: "Noto Sans", sans-serif;
  font-size: 70px;
  font-weight: bold;
}

#subheading {
  font-size: 20px;
  text-align: center;
  font-weight: 100;
  margin-bottom: -20px;
}

#room-options {
  display: flex;
  width: 100%;
  font-family: "Noto Sans", sans-serif;
}

#room-options > div {
  border: 1px solid black;
  width: 300px;
}

#room-options:first-child {
  width: 300px;
}

.column {
  display: flex;
  flex-direction: column;
}

.column div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.column input {
  width: 20px;
  min-width: 10px;
}

h3 {
  margin: 0;
  text-align: center;
}
