body {
  background-color: #3aa7a0;
}

input {
  min-width: 200px;
  min-height: 2.5rem;
  font-size: 0.9rem;
  border: 1px solid rgb(195, 195, 195);
  border-radius: 5px 0px 0px 5px;
  padding: 0px 10px;
}

input:hover,
.button-light:hover {
  border: 1px solid #f34c50;
}

input:focus {
  outline: 1px solid #f34c50;
}

button {
  min-width: 100px;
  min-height: 2.5rem;
  border-radius: 5px;
  font-size: 0.9rem;
  border: 1px solid #f7c9c0;
  color: white;
  background-color: #f34c50;
  cursor: pointer;
}

.button-dark {
  min-width: 120px;
  border: none;
}

.button-light {
  border: 1px solid #f7c9c0;
  background-color: white;
  border-radius: 0px 5px 5px 0px;
  color: #f34c50;
}

#home-wrapper {
  max-width: 500px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  animation: position 0.5s cubic-bezier();
}

#title {
  min-width: 600px;
}

#create-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#username-input {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

#username-input-wrapper {
  height: 100%;
  position: relative;
}

#validation-wrapper {
  position: absolute;
  right: 10px;
  top: 5px;
  bottom: 5px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#invalid-message {
  position: absolute;
  left: 5px;
  bottom: -18px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  width: 350px;
}
